<div>
    <div class="well well-sm">
        <div class="panel panel-default">
            <div class="panel-heading">
                分组编辑
            </div>
            <div class="panel-body">
                <div class="form-inline label_one_content">
                    <div class="form-group">
                        {{range $i,$v := .Groups}}
                        <h5 style="float:left;margin-bottom: 15px;margin-left: 5px"><span class='label label-info label_group' group_id="{{$v.Id}}">{{$v.GroupName}}</span></h5>
                        {{end}}
                    </div>
                </div>
                <div class="form-inline" style="margin-bottom: 5px">
                    <div class="col-md-2">
                        <input type="text" id="input_update_group" class="uid_text form-control" value="" placeholder="" style="height:27px">
                    </div>
                    <div class="col-md-1 col-md-offset-1">
                        <button class="btn-default" id="btn_update_group">修改</button>
                    </div>
                    <div class="col-md-1 col-md-offset-0">
                        <button class="btn-default" id="btn_del_group">删除</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="well well-sm">
        <div class="panel panel-default">
            <div class="panel-heading">
                新增分组
            </div>
            <div class="panel-body">
                <div class="form-inline" style="margin-bottom: 5px">
                    <div class="col-md-2">
                        <input type="text" id="input_new_group" class="uid_text form-control" value="" placeholder="" style="height:27px">
                    </div>
                    <div class="col-md-1 col-md-offset-1">
                        <button class="btn-default" id="btn_add_group">新增</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/public/js/relation/groups.js"></script>